
#flexcontainer {
    height: 500px;
}

/* poder borde a todos los elementos */
div, header, aside, article, footer, main{
    border: solid black 1px;
    margin: 10px;
}

/* formato de la cabecera y del pie de pagina*/
header, footer{
    height: 50px;
}


#subcontainer {
    display: flex;
    flex-direction: column;
    height: 350px;
}

#subcontainer > aside, #subcontainer > article {
    display: flex;
    width: 200px;
}

aside {
    height: 80px;
}

article {
    height: 200px;
}


main{
    margin-top: -315px;
    margin-left: 870px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 40%;

}

.caja-flex {
    width: 120px;
    height: 50px;;
}
