/* color de la cabecera/pie y ancho */
header, footer{
    background-color:  #3c4e5f;
    display: flex;
    height: 80px;
    justify-content: space-between;
}

/* darle borde al logo y a los links */
header > div, header > nav {
    border: solid black 1px;
}

/* 'FalconMaster' */
.logo{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 25px;
}

.logo > a{
    color: white;
    text-decoration: none;
}

/* botones de la cabecera */
.links {
    display: flex;
    margin-right: 0px;
}

/* ajustar tamaño de los botones de los links */
.links > a:nth-child(3){display: flex; width: 100px;}

/* propiedadas de los botones de la cabecera */
.links > a {
    display: flex;
    border: solid gray 1px;
    background-color: rgb(228, 60, 60);
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
    margin-top: 20px; 
}

/* cuerpo del documento */

.main {
	padding:20px;

	/*flex:1;*/
	display: flex;
    flex-direction: row;
    margin-left: 10px;
    flex: 1 1 100%;
}

article{
    border-bottom: solid black 1px;
    flex: 0 0 30%;
    margin-right: 20px;
}




aside {
	background:#e67e22;
	padding:20px;
	display: flex;
    flex: 1 1 30%;

	display: flex;
	flex-direction: column;
}

aside .widget {
    border: solid black 1px;
	background: #d35400;
	margin:10px;
}

.imagen_arriba, .imagen {
    width: 50%;
    height: 50%;
} 

.widget > div{
    border: solid black 1px;
}

.widget > .imagen{
    background-color: #6b2d03;
    display: flex;
    justify-content: flex-end;
}





.titulo{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    text-align: justify;
}


/* pie de pagina */
footer{
    display: flex;
    flex-direction: row-reverse;
}

.social{
    display: flex; 
    margin-right: 10px;
}

.social > a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    background-color: #ff6600;
}