div{
  background-color: aquamarine;
}

ul,li{
  margin: 10px;
  padding: 0;
  list-style: none;
}

li {
  background-color: orangered;
  width: 150px;
  height: 80px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 0px;
}

.flexend1{
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 -10px;
}

.flexend2{
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  align-items: flex-end;
  
}
